.form-1 {
  position: unset;
	right: 0;
	bottom: -1px;
	left: 5%;
	padding: 1rem;
	text-align: center;
	padding-left: 5%;
}
iframe {
  overflow-x:hidden;
  overflow-Y:hidden;
}

.hidden {
  display: none;
}

.nav-wrapper {
  outline: inset;
  outline-color: #283593;
}